<div class="outer-container">
<h1 class="heading">Welcome {{username}}</h1>
<button><a href='/login' style="text-decoration:none ;">Log out</a></button>
</br>
</br>
<div class="container">
<button class="button"><a href="/{{id}}/CREATE A NEW FAQ" style="text-decoration: none;">CREATE A NEW FAQ</a></button>
</br>
</br>
<button class="button"><a href="/{{id}}/CREATE HAVE A READ SECTION"style="text-decoration: none;" style="color: white">CREATE A NEW HAVE A READ SECTION</a></button>
</br>
</br>
<button class="button"><a href="/{{id}}/CREATE TOPICS YOU CANT MISS SECTION" style="text-decoration: none;">CREATE TOPICS YOU CANT MISS SECTION</a></button>
</br>
</br>
</div>
</div>
<style>
    .heading{
        text-align: center;
        font-size: 6em;
        font-weight: 500;
        color: blueviolet;
        margin-top:auto;
    }
    .button{
        width: 400px;
        margin-left: auto;
        margin-left: 450px;
    }
    
    .outer_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
</style>